html {
    font-size: 18px;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    font-size: 1em;
    padding: 0 20px;
    background-color: #13171f;
    margin: 0;
}

main {
    width: 100%;
    max-width: 410px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

.content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 1.5em;
    color: #E0E3E7;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4em;
    font-weight: 400;
    color: #C2C7D0;
}

.img-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* Estilos responsive para móviles */
@media (max-width: 768px) {
    main {
        width: 90%;
        max-width: 100%;
        padding: 10px;
        top: initial;
        transform: none;
        margin-top: 50px;
    }

    h1 {
        font-size: 1.3em;
    }

    p {
        font-size: 0.9em;
    }
}
